/*
 *= require_tree .
 *= require_self
 */
body {
  background: url("/assets/bg_croatia.jpeg") no-repeat;
  background-size: cover;
  font-family: 'Roboto Condensed';
}

.container{
	background: rgba(255, 255, 255, 0.5);
}
.navbar-default .navbar-brand {
  font-family: 'Roboto Condensed', cursive;
  color: #000;
}
